<h1>Create a Team and Heroes!</h1>
<br>
<form>
<p>Team Name:<input type="text" name="name"</p>
<p>Team Motto:<input type="text" name="motto"</p>
<br>
<h2>Hero 1<h2>
  <label for="member_1">
<p>Hero's Name:<input id="member_1"type="text" name="name"></P>
  <p>Hero's Power:<input id="member_1"type="text" name="power"></P>
    <p>Hero's Biography:<input id="member_1"type="text" name="bio"></P>
<h2>Hero 2<h2>
<label for="member_2">
  <p>Hero's Name:<input id="member_2"type="text" name="name"></P>
    <p>Hero's Power:<input id="member_2"type="text" name="power"></P>
      <p>Hero's Biography:<input id="member_2"type="text" name="bio"></P>
<h2>Hero 3<h2>
<label for="member_3">
<p>Hero's Name:<input id="member_3"type="text" name="name"></P>
  <p>Hero's Power:<input id="member_3"type="text" name="power"></P>
    <p>Hero's Biography:<input id="member_3"type="text" name="bio"></P>
</form>
