<h1>Create a Team and Heroes!</h1>
<br>
<p>Team Name:<input type="text" name="team_name"</p>
<p>Team Motto:<input type="text" name="team_motto"</p>
<br>
<h2>Hero 1<h2>
  <label for="member_1">
<p>Hero's Name:<input id="member_1"type="text" name=""
<h2>Hero 2<h2>
<label for="member_2">
<h2>Hero 3<h2>
<label for="member_3">
